body{
  background-image: url(./image/style/fon.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

.osnova{
  width: 80%;
  border-radius: 25px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  /*background: linear-gradient(90deg, rgba(234,233,255,0.8) 0%, rgba(255,225,216,0.8) 35%, rgba(213,236,255,0.8) 100%);*/
}

.socSet{
  width: 80%;
  margin: auto;
  text-align: right;
}
.socSet img{
  width: 200px;
}

.head{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #35353500;
    border-radius: 25px;
    margin: 0px;
    padding: 0px;
}

#infoICAFI{
  display: flex;
  justify-content:space-around;
}
#infoICAFI div{
 width: 48%; 
}
.infoDiv{
  
  background-color: #353535;
  margin: 0 10px 0 10px;
  color: aliceblue;
  padding: 5px;
  border-radius: 15px;
}
.infoDiv a{
  color: #ff7a7a;

}
#infoICAFI a{
  color: #ff7a7a;
}

#osnova{
  /*background: linear-gradient(90deg, rgba(232,233,232,1) 0%, rgba(254,251,254,1) 44%, rgba(238,237,246,1) 100%);*/
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffffcb;
}

.head div{
  align-self: center;
}

ol li{
    margin: 10px;
}
.opis{
    text-align: center;
    margin: 0px;
}
.menu{
    padding: 0px 10px 0 10px;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(232,233,232,1) 0%, rgba(254,251,254,1) 44%, rgba(238,237,246,1) 100%);
    -webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-30deg); /* Для Firefox */
    -o-transform: skewX(-30deg); /* Для Opera */
    -ms-transform: skewX(-30deg); /* Для IE */
    transform: skewX(-30deg); /* CSS3 */
    border-radius: 15px 15px 0 0;
  }
.menu ul{
    padding: 0px;
}
.menu li{
  display: inline-block; /* Строчно-блочные элементы */
  background: #353535; /* Цвет фона */
  border-right: 5px solid orange;
  border-bottom: 5px solid orange;
  padding: 3px;
}
.menu li:hover{
    background-color: rgb(201, 201, 201);
    border-right: 5px solid rgb(255, 0, 0);
    border-bottom: 5px solid rgb(255, 0, 0);
}
.menu ul li a{
  color: white;
  text-decoration: none;
}
.menu ul li a:hover{
  color: black;
}

.imgLogo{
  width: 150px;
}
.divIvent{
  padding: 50px;
  width: 50%;
}
.aVkLogo{
  text-align: center;
}
button{
  background-color: rgb(112, 112, 112);
  color: white;
  border-radius: 5px;
}
button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.btn-up {
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: #673ab7;
    /* расстояние от правого края окна браузера */
    right: 20px;
    /* расстояние от нижнего края окна браузера */
    bottom: 0;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 50px;
  }
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  .btn-up_hide {
    display: none;
  }
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #512da8; /* цвет заднего фона при наведении */
    }
  }

  .mapsDiv{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 15px;
    justify-content: space-evenly;
    text-align: center;
  }
  .mapsDiv img{
    width: 100%;
    border-radius: 15px;
  }
  .mapsDiv div{
    border: #cecece solid 3px;
    background-color: #3d3d3d;
    border-radius: 15px;
    color: aliceblue;
  }
  .mapsDiv h3{
    margin: 0px;
  }