.head{
    text-align: center;
}
div{
    font-size: 20px;
}
ol li{
    margin: 10px;
}
.opis{
    text-align: center;
}
.menu{
    padding: 0px;
    text-align: center;
    font-size: 20px;
}
.menu ul{
    padding: 0px;
}
.menu li{
    display: inline;
    list-style-type: none;
    margin: 0px 5px 0px 5px;
    width: 100px;
    background-color: aqua;
}
.menu li:hover{
    background-color: rgb(47, 0, 255);
}
img{
    width: 100%;
}
